{% load static %}

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{% static 'shop.css' %}">
</head>

{% block content %}
<div class='footer'>
  <p id="rights">Авторское право ©wilmar.prodd 2024</p>

  <p id="toggle" class="toggle">Все права защищены.</p>
  
  <p class='footer_p '>Любое коммерческое использование, воспроизведение, распространение, передача, публикация, отображение или представление этого сайта и его содержимого без предварительного письменного разрешения владельца авторских прав строго запрещены.</p>
  
  <p class='footer_p '>Эта лицензия подлежит правилам и законам РФ. Любые споры, касающиеся этой лицензии или использования этого сайта, должны быть разрешены в соответствии с этими правилами и законами.</p>
</div>
{% endblock %}

